.current-floor-display {
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;

  .floor-number {
    text-align: right;
  }

  .floor-number, .elevator-direction {
    margin: 0 15px;
    width: 20px;
    color: red;
    background-color: black;
    border: 1px solid gray;
  }

  .elevator-direction {
    text-align: center;
  }
}